.mylogo{
  display: block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.mylogo img{
  width: 100%;
  
}

#macbook-img{
  /*max-width: 100%;*/
  height: auto;
  display: block;
  clear: both;
  box-sizing: border-box;
}
#templateContent img{
  width: 75%;
}
#colored-heading,h2{
  color: #fb7070;
}
.my-photo{
  width: 100%;
  position: relative;
}
#me{
  width: 50%;
  height: auto;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
  clear: both;
}

#keep-portland-weird{
  display: block;
  padding: 100px;
  clear: both;
}

#emoji{
  font-size: 4em;
}
