#macbook-img{
  max-width: 100%;
  height: auto;
  display: block;
  clear: both;
  box-sizing: border-box;
}

#colored-heading,h2{
  color: #fb7070;
}

#me{
  max-width: 50%;
  padding: 50px;
  height: auto;
  display: inline-block;
  border-radius: 50%;
  clear: both;
}

#keep-portland-weird{
  display: block;
  padding: 100px;
  clear: both;
}

#emoji{
  font-size: 50px;
}

#totalWords{
  display: block;
  text-align: center;
  color: #42DCA3;
  padding: 50px;
  clear: both;
  font-size: 14px;

}
